:root{
    --white-color: #fff;
    --black-color: #000;

}


*{
    box-sizing: inherit;

}


html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}


.grid{
    width: 1440px;
    max-width: 100%;
    
}
.grid__full-with{
    width: 100%;
}
.grid_row{
    display: flex;
    flex-wrap: wrap;
}