
.header
{
    background-color: white ;
    height: 11rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10) ;
    align-items: center;
    display: flex;
    justify-content: space-around;
}  

.header__navbar-list{
    flex-shrink: 0;
}

.header__navbar-item{
    display: inline-block;
    color: #000;
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 500;       
    letter-spacing: -0.32px;
    flex-shrink: 0;
}

.header__navbar-item + .header__navbar-item
{
    margin-left: 6rem;
}

.header__navbar-list #brand-name{
    color: #000;
    font-family: Lobster;
    font-size: 2.4rem;
    font-weight: 400;
}
.header__navbar-list #orange-dot{
    color: #FF7426;
    font-family: Lobster;
    font-size: 2.4rem;
    font-weight: 400;
    margin-left: 0px ;
}
.header__navbar-list #socail-icon{
    height: 2.2rem;
}
.container__hot-recipes{
    width: 1280px;
    height: 640px;
    margin: 40px auto 0px auto;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
}
.container__hot-recipes-list{
    width: 620px;
    height: 640px;
    flex-shrink: 0;
    background-color: #E7FAFE;
}

.container__hot-recipes-img{
    width: 660px;
    height: 640px;
    fill: #00182E ;
}
.container__hot-recipes-baked-chicken{
    width: 660px;
    height: 640px;

}
.container__hot-recipes-recipes{
    background-color:#fff;
    width: 156px;
    height: 45px;
    flex-shrink: 0;
    display: flex;
    border-radius: 38px;
    align-items: center;
    justify-content: center;
    margin: 50px 414px 0px 50px;

}
.container__hot-recipes-recipes img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
.container__hot-recipes-recipes p{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.28px;
    margin-left: 13px;
}
.container__hot-recipes-title {
    width: 520px;
    color: #000;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2.56px;
    margin: 32px 50px 0px 50px;
}
.container__hot-recipes-description{
    width: 520px;
    height: 56px;
    color: rgba(0, 0, 0, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 24px 50px 0px 50px;
}
.container__hot-recipes-item{
    display: flex;
    width: 274px;
    height: 40px;
    margin: 30px 296px 0px 50px;
}
.container__hot-recipes-time-type{
    width: 139px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;

}
.container__hot-recipes-time-type img{
    height: 24px;
    width: 24px;
}
.container__hot-recipes-time-type p{
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
}
.container__hot-recipes-time-type--small{
    width: 119px;
    margin-left: 16px;
}
.container__hot-recipes-list-info-btn{
    width: 520px;
    height: 60px;
    display: flex;
    margin: 99px 50px 50px 50px;
    justify-content: space-between;
}
.container__hot-recipes-info{
    width: 163px;
    height: 50px;
    display: flex;
    margin: 5px 0px 5px 0px;
}
.container__hot-recipes-avt
{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: lightgray 50% / cover no-repeat;
}
.container__hot-recipes-name-date :first-child{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    margin: 3px 11px 0px 16px;
}
.container__hot-recipes-name-date :last-child{
    color: rgba(0, 0, 0, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    margin: 8px 0px 3px 16px;
}

.container__hot-recipes-btn-view-all{
    width: 200px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
   
.container__hot-recipes-btn-view-all p{
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.28px;
}
.container__hot-recipes-btn-view-all img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-left: 15px;
}

.container__categories{
    width: 1280px;
    height: 342px;
    margin: 160px auto 0px auto;
}
.container__categories-top{
   display: flex;
   width: 1280px;
   height: 60px;
   justify-content: space-between;

}
.container__categories-title{
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.92px;
    margin: 2px 0px 0px 0px;
}

.container__categories-btn{
    display: flex;
    width:200px ;
    height:60px ;
    border-radius: 16px;
    background: #E7FAFE;
    margin-left: 842px;
    justify-content: center;
    align-items: center;
}
.container__categories-btn p{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.32px;
}


.container__categories-list{
    width: 1280px;
    height: 152px;
    display: flex;  
    margin-top: 188px;
}

.container__categories-item{
    width: 180px;
    height: 152px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(112, 130, 70, 0.00) 0%, rgba(112, 130, 70, 0.10) 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__categories-item + .container__categories-item{
    margin-left: 40px;
}

.container__categories-blur{
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    position: absolute;
    top: -30px;
    left: 60px;
    z-index: 1;
}
.container__categories-img{
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    position: absolute;
    top: -50px;
    z-index: 2;
}

.container__categories-item p{
    height: 22px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.36px;
    z-index: 2;
    margin-top: 100px;
}

.container__recipes{
    width: 1280px;
    height: 1616px;
    margin: 183px auto 0px auto;
}
.container__recipes-title{
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.92px;
    width:526px ;
    height:58px ;
    margin: 0 auto;
    text-align: center;
}
.container__recipes-description{
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 706px;
    height: 56px;
    margin: 24px auto 0px auto;
}
.container__recipes-list{
    width: 1280px;
    height: 1382px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 434px 434px 434px;
    gap: 40px;
    margin: 96px auto 0px auto;
}
.container__recipes-item{
    width: 400px;
    height: 434px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0.00) 0%, #E7F9FD 100%);
    position: relative;
}
.container__recipe-bg{
    width: 368px;
    height: 250px;
    border-radius: 15px;
    margin: 16px 16px 0px 16px;  
    z-index: 1;
}

.container__recipes-dish{
    width: 368px;
    height: 64px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.96px;
    margin: 24px 24px 0px 24px;
}
.container__recipes-time-type{
    width: 368px;
    height: 24px;
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.container__recipes-time-type #icon-time,
.container__recipes-time-type #icon-forkknife
{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-left: 24px;
}
.container__recipes-time-type #time,
.container__recipes-time-type #type
{
    color: rgba(0, 0, 0, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    margin-left: 10px;
    
}
.container__recipes-item #icon-heart{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    position: absolute;
    top: 36px;
    right: 36px;
    z-index: 2;

}
.container__recipes-item--special{
    overflow: hidden;
    width: 400px;
    height: 434px;
    flex-shrink: 0;
    border-radius: 0px;
    background: linear-gradient(180deg, #357355 0%, #1D483B 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.container__recipes-item--special #title{
    width: 172px;
    height: 60px;
    color: #FFF;
    text-align: center;
    font-family: Lobster;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 2;
    margin-top: 40px;
    margin-bottom: 0px;
}
.container__recipes-item--special #plate{
    width: 354px;
    height: 336px;
    flex-shrink: 0; 
    z-index: 2;
}
.container__recipes-item--special #url{
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    margin-top: -49px;
    z-index: 2;
}
.container__recipes-item--special #star-effect{
    width: 710px;
    height: 710px;
    position: absolute;
    top: -138px ;
    z-index: 1;

}
.container__chef{
    width: 1280px;
    height: 597px;
    margin: 143px auto 0px auto;
    display: flex;

}
.container__chef-list{
    width: 570px;
    height: 597px;
    justify-content: flex-start;
}

.container__chef-title{
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.92px;   
    margin: 0px; 
    margin-top: 169px;
    width: 526px;
}
.container__chef-description{
    width: 508px;
    height: 84px;
    color: rgba(0, 0, 0, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.container__chef-btn-learn-more{
    width: 180px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 72px ;
    margin-right: 390px;   
}
.container__chef-btn-learn-more p{
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.28px; 
    margin: 0px;  
}
.container__chef-img{
    width: 710px;
    height: 597px;
    position: relative;
}
#chef-bg.container__chef-item {
    width: 651px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0.00) 0%, #E7F9FD 100%); 
    z-index: 1;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#chef-img.container__chef-item {
    width: 660px;
    height: 597px;
    flex-shrink: 0; 
    position: absolute;
    left: 0px;
    top: 0px;   
    z-index: 2;
}
#chef-tomato.container__chef-item{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    position: absolute;    
    z-index: 3;
    top: 423px;
    left: 34px;
}

#chef-meat.container__chef-item{
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    position: absolute;    
    z-index: 3;
    top: 70px;
    left: 102px;        
}
#chef-onion.container__chef-item{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    position: absolute;    
    z-index: 3;
    top: 97px;
    left: 468px;        
}
#chef-cabbage.container__chef-item{
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    position: absolute;    
    z-index: 3;
    top: 167px;
    left: 594px; 
}

.container__dedelicious-recipe{
    width: 1280px;
    height: 864px;
    margin: 160px auto 0px auto;
}
.container__dedelicious-recipe-top{
    width: 1280px;
    height: 116px;
    display: flex;
    align-items: center;
}
.container__dedelicious-recipe-title{
    width: 507px;
    height: 116px;
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.92px;
    margin: 0;
}
.container__dedelicious-recipe-description{
    width: 620px;
    height: 56px;
    color: rgba(0, 0, 0, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-left: 153px;

}
.container__dedelicious-recipe-list{
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;
    grid-template-rows: 315px 315px;
    gap: 40px;
    margin-top: 80px;
}
.container__dedelicious-recipe-item{
    border-radius: 20px ;
    position: relative;
    overflow: hidden;
}
.container__dedelicious-recipe-bg{
    width: 290px;
    height: 200px;
    flex-shrink: 0;
    z-index: 1;
}
.container__dedelicious-recipe-dish{
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; 
    letter-spacing: -0.72px;
    margin-top: 16px;
}
.container__dedelicious-recipes-time-type{
    width: 290px;
    height: 24px;
    display: flex;
    align-items: center;
}
.container__dedelicious-recipes-time-type #icon-time{
    width: 24px;
    height: 24px;
}
.container__dedelicious-recipes-time-type #icon-forkknife{
    width: 24px;
    height: 24px;
    margin-left: 24px;
}
.container__dedelicious-recipes-time-type #time,
.container__dedelicious-recipes-time-type #type
{
    color: rgba(0, 0, 0, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    margin-left: 10px;    
}
.container__dedelicious-recipe-icon-heart{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 2;
}

.container__inbox{
    width: 1280px;
    height: 442px;
    flex-shrink: 0;
    border-radius: 60px;
    background: #E7F9FD;
    margin: 160px auto 0px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.container__inbox-title{
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.92px;
    margin-top: 80px;
    margin-bottom: 0px;
}
.container__inbox-description{
    width: 620px;
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 0px;
}

.container__inbox-btn{
    width: 480px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
}
.container__inbox-btn input{
    color: rgba(0, 0, 0, 0.40);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    border: none;
    margin-left: 32px;
}
.container__inbox-btn-subscribe{
    width: 160px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.container__inbox-btn-subscribe p{
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.28px;
}
.container__inbox-list #salad{
    width: 409.544px;
    height: 400.08px;
    transform: rotate(30deg);
    flex-shrink: 0;
    position: absolute;
    left: -100px;
    bottom: -100px;
}
.container__inbox-list #rucola{
    width: 66.849px;
    height: 90.959px;
    flex-shrink: 0;
    position: absolute;
    top: 249px;
    left: 930px;
}
.container__inbox-list #plate{
    width: 355.068px;
    height: 355.616px;
    flex-shrink: 0;
    position: absolute;
    right: -120px;
    bottom: -129.62px;
}

.footer{
    width: 1280px;
    height: 203px;
    margin: 160px auto 15px auto;  
}
.footer__top{
    width: 1280px ;
    height: 74px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;

}

.footer__top-item{
    display: inline-block;
}

.footer__top-list,
.footer__top-brand-name
{
    list-style: none;
}

.footer__top-item + .footer__top-item{
    margin-left: 60px;
}
.footer__top-item{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px; 
    padding: 0;   
}
#brand-name.footer__top-item {
    color: #000;
    font-family: Lobster;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;  
}
#orange-dot.footer__top-item{
    color: #FF7426;
    font-family: Lobster;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;    
}
.footer__top-description{
    width: 400px;
    color: rgba(0, 0, 0, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 16px;  
    margin-bottom: 0px;  
}
.footer__bottom{
    width: 1280px;
    height: 61px;
    margin: 0px auto 15px auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-top: 1px solid rgba(0, 0, 0, 0.10) ;
}
.footer__bottom-copyright{
    display: flex;
}
.footer__bottom-item{
    color: rgba(0, 0, 0, 0.60);
    font-family: "Eudoxus Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;    
    margin: 0;
    padding: 0;
}
.footer__bottom-item--orange{
    color: #FF7967;
    font-family: "Eudoxus Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;  
    margin-left: 2px; 
    margin-right: 338px; 
}

.footer_bottom-social-icon{
    width: 133.962px;
    height: 22px;
    flex-shrink: 0;
    margin-bottom: 1px;
    margin-right: 0.04px;    
}
